<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MPS</title>
  <link rel="stylesheet" href="../ext-3.4.1/resources/css/ext-all.css" />
  <link rel="stylesheet" href="../css/custom.css" />
  <script src="../ext-3.4.1/adapter/ext/ext-base.js"></script>
  <script src="../ext-3.4.1/ext-all.js"></script>
</head>
<body>
  <div id="header"></div>
  <div id="body"></div>
  <script>window.$ = window.jQuery = require('jquery');</script>
  <script src="../js/config.js"></script>
  <script src="../js/template.js"></script>
  <script>
    Ext.onReady(function() {

      var textSearch = getUrlParameter('search');

      var admin_list_user_panel = {
        id: 'admin-list-user-panel',
        title: 'Admin List User',
        layout: 'column',
        bodyStyle: 'padding:5px',
        defaults: {bodyStyle:'padding:15px'},
        frame:true,
        items: [
          {
            columnWidth: 1,
            html: '<div id="gridUser"></div>'
          }
        ]
      };

      var timer = renderTemplate(admin_list_user_panel, 'ADMIN');

      var store = new Ext.data.JsonStore({
        fields: [
          { name: 'id' },
          { name: 'no' },
          { name: 'firstName' },
          { name: 'lastName' },
          { name: 'employeeId' },
          { name: 'email' },
          { name: 'department' },
          { name: 'role' }
        ],
        root: 'users',
        totalProperty: 'totalUsers',
        proxy: new Ext.data.HttpProxy({
          method: 'GET',
          type: 'json',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': localStorage.getItem('token')
          },
          url: api_url + '/api/admin/searchuserslimit'
        })
      });

      new Ext.grid.GridPanel({
        renderTo: 'gridUser',
        height:540,
        store: store,
        trackMouseOver:false,
        disableSelection:true,
        loadMask: true,
        title:'User list',
        columns:[
          {
            id: 'id',
            header: 'id',
            dataIndex: 'id',
            width    : 10,
            hidden: true
          },
          {
            id: 'no',
            header: '#',
            dataIndex: 'no',
            width    : 50
          },
          {
            id: 'firstName',
            header: 'First Name',
            dataIndex: 'firstName',
            sortable: true,
            width    : 150
          },
          {
            id: 'lastName',
            header: 'Last Name',
            dataIndex: 'lastName',
            width    : 150
          },
          {
            id: 'employeeId',
            header: 'Employee ID',
            dataIndex: 'employeeId',
            width    : 110
          },
          {
            id: 'email',
            header: 'Email',
            dataIndex: 'email',
            width    : 200
          },
          {
            id: 'department',
            header: 'Department',
            dataIndex: 'department',
            width    : 100
          },
          {
            id: 'role',
            header: 'Role',
            dataIndex: 'role',
            width    : 80
          },
          {
            xtype: 'actioncolumn',
            header: 'Action',
            width: 50,
            items: [
              {
                icon: '../images/icon/rss_go.png',
                tooltip: 'go to infomation',
                handler: function(grid, rowIndex, colIndex) {
                  var rec = store.getAt(rowIndex);
                  window.location.href = './admin-show-user.html?id=' + rec.get('id');
                }
              },
              {
                icon: '../images/icon/cog_edit.png',
                tooltip: 'update user',
                handler: function(grid, rowIndex, colIndex) {
                  var rec = store.getAt(rowIndex);
                  window.location.href = './admin-update-user.html?id=' + rec.get('id');
                }
              }
            ]
          }
        ],
        bbar: new Ext.PagingToolbar({
          pageSize: 20,
          store: store,
          displayInfo: true,
          displayMsg: 'Displaying data {0} - {1} of {2}',
          emptyMsg: "No data to display",
          items: ['-',
            {
              xtype: 'textfield',
              fieldLabel: 'Search',
              name: 'search',
              id: 'search',
              value: textSearch
            },
            {
              xtype: 'button',
              name: 'btnSearch',
              id: 'btnSearch',
              text: 'Search',
              pressed: true,
              handler: function() {
                window.location.href = './admin-list-user.html?search=' + $('#search').val();
              }
            }
          ]
        })
      });
      store.baseParams = {searchText: textSearch};
      store.load({params:{start:0, limit:20, searchText: textSearch}});

      setTimeout(function() {
        $('.x-tree-node-ct').children().eq(1).addClass('x-tree-selected')
      }, timer + 1);
    });
  </script>
</body>
</html>