<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MPS</title>
  <link rel="stylesheet" href="../ext-3.4.1/resources/css/ext-all.css" />
  <link rel="stylesheet" href="../css/custom.css" />
  <script src="../ext-3.4.1/adapter/ext/ext-base.js"></script>
  <script src="../ext-3.4.1/ext-all.js"></script>
</head>
<body>
  <div id="header"></div>
  <div id="body"></div>
  <div style="display:none;">
    <div id="home-div">
      <div align="center"><img src="../images/logo.jpg" /></div>
      <div>
        <h2>Welcome to Foamtec International !</h2>
        <p>Foamtec International is one of the industry’s prime innovators and suppliers, 
          specializing in manufacturing high quality cellular polymeric materials. 
          We manufacture and fabricate technical flexible polyurethane foam that offers unusual control of properties such as surface area, 
          permeability, void volume, pressure drop, stiffness, tensile, elongation, 
          and density. Our technical PU foam has a wide range of tunable properties, 
          which are designed to meet various customers’ needs, such as, 
          energy and fluid management functions. For example, 
          we control surface area and chemistry providing the foam with precise controllable wicking and fluid delivery. 
          Additives such as germicide, fire suppressants, antistatic agents, antioxidant, 
          light and UV packages can be formulated in to offer versatility and meet customer needs. 
          The foam can be polyester-based or polyether-based, hydrophobic or hydrophilic. </p>
          <br>
          <hr>
        <p>Select a menu from the tree to the left to begin.</p>
      </div>
    </div>
  </div>
  <script>window.$ = window.jQuery = require('jquery');</script>
  <script src="../js/template.js"></script>
  <script>
    Ext.onReady(function() {

      var home_panel = {
        id: 'home-panel',
        title: 'Home',
        layout: 'column',
        bodyStyle: 'padding:5px',
        defaults: {bodyStyle:'padding:15px'},
        contentEl: 'home-div'
      };

      renderTemplate(home_panel);
    });
  </script>
</body>
</html>