<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MPS</title>
  <link rel="stylesheet" href="../ext-3.4.1/resources/css/ext-all.css" />
  <link rel="stylesheet" href="../css/custom.css" />
  <link rel="stylesheet" href="../ext-3.4.1/ux/css/LockingGridView.css" />
  <script src="../ext-3.4.1/adapter/ext/ext-base.js"></script>
  <script src="../ext-3.4.1/ext-all.js"></script>
  <script src="../ext-3.4.1/ux/LockingGridView.js"></script>
</head>
<body>
  <div id="header"></div>
  <div id="body"></div>
  <script>window.$ = window.jQuery = require('jquery');</script>
  <script src="../js/config.js"></script>
  <script src="../js/template.js"></script>
  <script>
    const shell = require('electron').shell;
    function load(val){
      shell.openExternal(api_url + '/api/mps/file/' + val);
    }
  </script>
  <script>
    Ext.onReady(function() {
      var partNo = getUrlParameter('part');

      var compare_forecast = {
        id: 'compare-forecast-panel',
        title: 'Compare Forecast',
        layout: 'column',
        bodyStyle: 'padding:5px',
        defaults: {bodyStyle:'padding:15px'},
        frame:true,
        items: [
          {
            columnWidth: 1,
            html: '<div id="dataTable"></div>'
          }
        ]
      };

      var timer = renderTemplate(compare_forecast, 'MPS');

      function arg(val){
        return Ext.util.Format.htmlDecode('<a href="#" onclick="load(\''+val+'\');">'+val+'</a>');
      }

      $.ajax({
        type: 'POST',
        headers: {
          'Content-Type': 'application/json; charset=utf-8',
          'Authorization': localStorage.getItem('token')
        },
        dataType: 'json',
        url: api_url + '/api/mps/findforecastbyparttotable',
        data: JSON.stringify({'partNo': partNo}),
        success: function(result) {
          var columnT = [
            {
              id: 'no',
              header: '#',
              dataIndex: 'no',
              width    : 30,
              locked: true
            },
            {
              id: 'forecastNumber',
              header: 'Forecast Number',
              dataIndex: 'forecastNumber',
              width    : 100,
              locked: true,
              renderer: arg
            },
            {
              id: 'createDate',
              header: 'Create Date',
              dataIndex: 'createDate',
              width    : 80,
              locked: true
            }
          ];

          var fieldsStore = [
            { name: 'no' },
            { name: 'forecastNumber' },
            { name: 'createDate' }
          ];

          var i = 0;
          for(i = 0; i < result.weeks.length; i++) {
            var field = {
              name: result.weeks[i],
              defaultValue: 0
            }
            fieldsStore.push(field);

            var ofi = {
              id: result.weeks[i],
              header: result.weeks[i],
              dataIndex: result.weeks[i],
              width    : 100
            }
            columnT.push(ofi);
          }

          var store = new Ext.data.JsonStore({
            fields: fieldsStore,
            root: 'dataForecastCompare'
          });

          var grid = new Ext.grid.GridPanel({
            renderTo: 'dataTable',
            height:540,
            store: store,
            title:'History Part ' + result.partNumber,
            colModel: new Ext.ux.grid.LockingColumnModel(columnT),
            view: new Ext.ux.grid.LockingGridView({})
          });

          store.loadData(result);

          myMask.hide();
        },
        error: function(err) {
          myMask.hide();
          var resErr = err.responseJSON;
          if(resErr.message.indexOf('token fail') >= 0) {
            localStorage.clear();
            window.location.href = '../login.html';
          }
        }
      });

      setTimeout(function() {
        $('.x-tree-node-ct').children().eq(1).addClass('x-tree-selected')
      }, timer + 1);

    });
  </script>
</body>
</html>