<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MPS</title>
  <link rel="stylesheet" href="../ext-3.4.1/resources/css/ext-all.css" />
  <link rel="stylesheet" href="../css/custom.css" />
  <script src="../ext-3.4.1/adapter/ext/ext-base.js"></script>
  <script src="../ext-3.4.1/ext-all.js"></script>
</head>
<body>
  <div id="header"></div>
  <div id="body"></div>
  <script>window.$ = window.jQuery = require('jquery');</script>
  <script src="../js/config.js"></script>
  <script src="../js/template.js"></script>
  <script>
    Ext.onReady(function() {
      var textSearch = getUrlParameter('search');

      var dashborad_part_panel = {
        id: 'dashborad-part-panel-panel',
        title: 'Dashborad Part',
        layout: 'column',
        bodyStyle: 'padding:5px',
        defaults: {bodyStyle:'padding:15px'},
        frame:true,
        items: [
          {
            columnWidth: .1,
            html: '<div>&nbsp;</div>'
          },
          {
            columnWidth: .8,
            html: '<div id="gridPart"></div>'
          },
          {
            columnWidth: .1,
            html: '<div>&nbsp;</div>'
          }
        ]
      };

      var timer = renderTemplate(dashborad_part_panel, 'MPS');
      
      var storePart = new Ext.data.JsonStore({
        fields: [
          { name: 'id' },
          { name: 'no' },
          { name: 'part' },
          { name: 'groupName' }
        ],
        root: 'dashboardPart',
        totalProperty: 'totalItemPart',
        proxy: new Ext.data.HttpProxy({
          method: 'GET',
          type: 'json',
          headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'Authorization': localStorage.getItem('token')
          },
          url: api_url + '/api/mps/searchdashboardspartlimit'
        })
      });

      new Ext.grid.GridPanel({
        renderTo: 'gridPart',
        height:540,
        store: storePart,
        trackMouseOver:false,
        disableSelection:true,
        loadMask: true,
        title:'Part History Forecast',
        columns:[
          {
            id: 'id',
            header: 'id',
            dataIndex: 'id',
            width    : 10,
            hidden: true
          },
          {
            id: 'no',
            header: '#',
            dataIndex: 'no',
            width    : 50
          },
          {
            id: 'part',
            header: 'Part Number',
            dataIndex: 'part',
            width    : 250
          },
          {
            id: 'groupName',
            header: 'Group Name',
            dataIndex: 'groupName',
            sortable: true,
            width    : 200
          },
          {
            xtype: 'actioncolumn',
            header: 'History Forecast',
            width: 100,
            items: [
              {
                icon: '../images/icon/rss_go.png',
                tooltip: 'go to infomation',
                handler: function(grid, rowIndex, colIndex) {
                  var rec = storePart.getAt(rowIndex);
                  window.location.href = './mps-compare-forecast.html?part=' + rec.get('part');
                }
              }
            ]
          }
        ],
        bbar: new Ext.PagingToolbar({
          pageSize: 20,
          store: storePart,
          displayInfo: true,
          displayMsg: 'Displaying data {0} - {1} of {2}',
          emptyMsg: "No data to display",
          items: ['-',
            {
              xtype: 'textfield',
              fieldLabel: 'Search',
              name: 'searchPart',
              id: 'searchPart',
              value: textSearch
            },
            {
              xtype: 'button',
              name: 'btnSearchPart',
              id: 'btnSearchPart',
              text: 'Search',
              pressed: true,
              handler: function() {
                window.location.href = './mps-dashborad-part.html?search=' + $('#searchPart').val();
              }
            }
          ]
        })
      });

      storePart.baseParams = {searchText: textSearch};
      storePart.load({params:{start:0, limit:20, searchText: textSearch}});

      setTimeout(function() {
        $('.x-tree-node-ct').children().eq(1).addClass('x-tree-selected')
      }, timer + 1);
    });
  </script>
</body>
</html>